<div class="container my-5">
    <h1 class="mb-3">Add New Data</h1>
    <div class="row">
        <div class="col-6">
            <form #form="ngForm" (ngSubmit)="addApartment()">
                <div class="mb-3">
                  <label for="name" class="form-label">Name</label>
                  <input type="text" class="form-control" id="name" placeholder="enter the name" name="name" [(ngModel)]="addApartmentRequest.name">
                </div>
                <div class="mb-3">
                    <label for="builderName" class="form-label">BuilderName</label>
                    <input type="text" class="form-control" id="builderName" placeholder="enter the Builder's name" name="builderName" [(ngModel)]="addApartmentRequest.builderName">
                  </div>
                  <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input type="text" class="form-control" id="location" placeholder="enter the Location" name="location" [(ngModel)]="addApartmentRequest.location">
                  </div>
                  <div class="mb-3">
                    <label for="price" class="form-label">Price</label>
                    <input type="number" class="form-control" id="price" placeholder="enter the final price" name="price" [(ngModel)]="addApartmentRequest.price">
                  </div>
                  <div class="mb-3">
                    <label for="sqArea" class="form-label">Area</label>
                    <input type="number" class="form-control" id="sqArea" placeholder="enter the Area" name="sqArea" [(ngModel)]="addApartmentRequest.sqArea">
                  </div>
                  <div class="mb-3">
                    <label for="status" class="form-label">Status</label>
                    <input type="text" class="form-control" id="status" placeholder="Status Occupied/UnOccupied" name="status" [(ngModel)]="addApartmentRequest.status">
                  </div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
        </div>
    </div>
</div>